
#TOC {
  font-size: 0.5em;
  line-height: 1.2em;
}

#TOC a {
  color: hsl(200 30% 40%);
}

body {
  width: 50em;
  margin: auto;
  color: hsl(0 0% 20%);
  font-size: 1.3em;
  margin-bottom: 4em;
  line-height: 1.8em;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

code {
  background: rgba(0 0 0 / 10%);
  border-radius: 4px;
  border: 1px solid rgba(0 0 0 / 20%);
}

sup > a {
  color: #58f;
}

h1 {
  text-align: center;
  padding-top: 1em;
}

:target {
   background-color: #ffaa00;
}
